<!-- 引入头部公共区域 -->
<include file="Public:headerRecruit" />
    <!-- #silderArea轮播图区域 -->
    <div id="silderArea" style="height:510px">
        <ul className="silderBox clear-fix">
            <li className="firstLi"><img src="/statics/images/banner.png" alt="数据demo" /></li>
            <li><img src="/statics/recruit/images/silder_02.jpg" alt="数据demo" /></li>
            <li><img src="/statics/recruit/images/silder_03.jpg" alt="数据demo" /></li>
        </ul>
        <ul className="silderNum clear-fix">
            <li className="active">
                <a href="javascript:;"></a>
            </li>
            <li>
                <a href="javascript:;"></a>
            </li>
            <li>
                <a href="javascript:;"></a>
            </li>
        </ul>
    </div>
    <!-- #silderArea轮播图区域结束 -->
    <!-- main主体内容区域 -->
    <div id="recruitPage" className="main">
        <div id="searchArea">
            <div className="search-box clear-fix">
                <input name="search" value="" placeholder="请输入职位关键字" /><input type="button" name="searchBtn" value="搜索职位" />
            </div>
        </div>
        <div className="box-warp job">
            <h1>Android 开发经理</h1>
            <div className="job-con">
                <p>
                    <strong>岗位职责</strong>
                    <br/> 1、 负责Android端技术架构搭建，功能模块设计、开发和优化；
                    <br/> 2、 与产品管理、测试和其他团队协作，分析产品需求，制定技术方案，攻克技术难题；
                    <br/> 3、 负责android技术团队的建设、管理，保障项目开发进度；
                    <br/>
                    <br/>
                    <strong>职位要求</strong>
                    <br/> 1、 大学本科及以上学历，2年以上团队管理或项目管理经验；
                    <br/> 2、 熟悉移动互联网行业及产品技术，熟悉C++、Android等平台；
                    <br/> 3、 具有4年android系统开发规划经验，有独立承担APP产品研发管理经验或者能力；
                    <br/> 4、 良好的良好的沟通能力和优秀的团队协作能力。
                    <br/>
                    <br/> 工作地点：厦门
                </p>
                <input type="button"  name="applyBtn" className="applyBtn"  value="我要应聘"/>
            </div>
        </div>
    </div>
    <div className="mask"></div>
        <div className="pop-box">
            <h3>DEAR:<span className="close"><img src="/statics/recruit/images/close.jpg" width="17" height="17"  alt="数据demo招聘"/></span></h3>
            <div className="pop-con">
                <p>很高兴遇见你~同时我们希望与你有合作的机会！以下通道方便您与我们取得联系：</p>
                <ul>
                    <li className="mail">简历收取邮箱：<a href="mailto:hr@feibo.cn"><em>hr@feibo.cn</em></a></li>
                    <li className="QQ">招聘问询QQ：<em>1934412357</em></li>
                    <li className="wechat">微信公众号：搜索“<em>数据demo招聘</em>”</li>
                    <li>（公众号可以查询面试结果哦~）</li>
                </ul>
        </div>
    </div>
    <!-- #main主体内容区域结束 -->
    <!-- 引入尾部公共区域 -->
    <include file="Public:footerRecruit" />
    <!-- 引入js -->
    <script src="http://img1.static.feibo.com/double11/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/statics/recruit/js/silder.js"></script>
    <script type="text/javascript" src="/statics/recruit/js/index.js"></script>
</body>

</html>
