@charset "UTF-8";
/* 通用的样式 */
.fl {
    float: left;
}
body {
  padding-top:100px;
  position: relative; }

.box-warp {
  position: relative;
  width: 1200px;
  margin: 0 auto; }

.time {
  position: relative;
  padding: 6px 0 6px 20px;
  font-size: 12px;
  color: #c2c2c2; }

.time:before {
  position: absolute;
  top: 10px;
  left: 3px;
  content: "";
  height: 10px;
  width: 10px;
  background: url(~@/assets/images/icon_bg.png) -49px 0 no-repeat; }

/* 页面头部 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .15); }
  #header .logo {
    @apply inline-flex;
    padding: 26px 0;
    line-height: 1;
    overflow: hidden; }
    #header .logo img, #header .logo span {
      display: inline-block; }
    #header .logo span {
      margin: 8px 0 0 20px;
      padding: 7px 0 7px 18px;
      font-size: 24px;
      color: #bfbfbf;
      border-left: 1px solid #f2f2f2; }

  .header-nav li a {
    @apply block;
    width: 104px;
    padding: 35px 0;
    border-top: 3px solid #fff;
    font-size: 18px;
    @apply text-center;
    transition: all .8s; }
  .header-nav li.active a, .header-nav li a:hover {
    color: #81bf29;
    border-top: 3px solid #81bf29;
    background-color: #fafafa; }

/* 页尾区域 */
#footer {
  padding: 45px 0 40px;
  background-color: #fafafa; }
  #footer .page-list {
    width: 240px;
    @apply text-center;}
    #footer .page-list h3 {
      padding: 10px 0;
      font-size: 18px; }
    #footer .page-list li {
      padding: 3px 0; }

.wb-atte, .wx-atte {
  width: 28px;
  height: 28px;
  vertical-align: top;
  cursor: default;
  background: url(~@/assets/images/icon_bg.png) 0 -24px no-repeat; }

.attArea {
  position: relative; }
  .attArea span {
    position: absolute;
    top: -32px;
    right: -189px;
    padding: 5px;
    width: 139px;
    height: 139px;
    border: 1px solid #d4d4d4; }
    .attArea span img {
      width: 100%; }

.wx-atte {
  margin-left: 10px;
  background: url(~@/assets/images/icon_bg.png) -32px -24px no-repeat; }

.copyRight {
  margin: 0 auto;
  padding: 25px 0; }
  .copyRight span {
    position: absolute;
    top: 25px;
    right: 80px; }

.disBlock {
  display: block; }

